body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 20px;
}

h3 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.statement-card {
    border: 1px solid #ddd; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f9f9f9; 
}

.statement-name {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.date {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
}

.income-statement {
    max-width: 500px; 
    margin: 0 auto; 
}

.statement-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px; 
    border-bottom: 1px solid #ddd; 
}

.statement-item:last-child {
    border-bottom: none; 
}

.border-top {
    border-top: 2px solid #007bff; 
}

.item-label {
    font-weight: normal; 
}

.item-value {
    text-align: right; 
}

.font-semibold {
    font-weight: bold; 
}

.font-lg {
    font-size: 1.2em; 
}

.create-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #007bff; 
}

.create-link:hover {
    text-decoration: underline;
}
.navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.logo {
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
.nav-links {
    display: flex;
}
.sign-in {
    background-color: white;
    color: black;
    border: 1px solid #808080; 
  }
  
  .sign-in:hover {
    background-color: #f0f0f0;
    text-decoration: none;
  }
  
.sign-up {
    background-color: black;
    color: white;
    border: 2px solid black;
  }
  
.sign-up:hover {
    background-color: #333;
    text-decoration: none;
  }
.quote_btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
.quote_btn-container {
    display: flex;
    gap: 10px;
  }
  
.quote_btn-container a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    transition: all 0.3s ease;
  }